.menuPanel {
    background-color: white;
    width: 310px;
    height: 100%;
    
    float:left;
    left: 0;
    margin-left: 0px;
    border-radius: 1px;
    overflow: auto;
    box-shadow: 2px 2px 2px 1px #424242;
}
/* background: no-repeat url("assets/double_left_32.png"); */
.maps-sprite-settings-chevron-left {
    
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
}

.widget-settings-icon-close {
   position:absolute;margin-top:20px;margin-left:270px;z-index:1000;
}