<div (window:resize)="mapResize($event)" #map class="map">
    
    <div style="position: absolute;z-index:999;left: 320px;width: 300px;top:10px;" class="form-group">
        
        <input [(ngModel)]="searchStr"  (keyup.enter)="onEnterSearch()" type="text" class="form-control" placeholder="9-1-1 Address" >
      </div>

  <div class="btnEms">
      <button class="btn btn-warning" (click)="openTable()">
          <img src="assets/ems_icon.png" width="40" height="30">
      </button>
      
  </div>
</div>
<app-table-data *ngIf="closeTableBool" [dataTable]="emsCalls" (closeUpdate)="closeTable($event)" (zoomTo)="zoomTo($event)">

</app-table-data>
